In [41]:
import pandas as pd
# import nltk
import matplotlib.pyplot as plt
import random

In [42]:
df = pd.read_csv("fakenews.csv")
df

                                                   title Target
0       Trump Will ANNHILILATE The Working Class He’s...   Fake
1      Yemen Houthis say have shot down U.S. surveill...   True
2      BREAKING NEWS: TRUMP ADMIN ANNOUNCES “MASSIVE ...   Fake
3      U.S. Commerce Secretary wants NAFTA autos cont...   True
4      U.S. warns of repercussions for Pakistan over ...   True
...                                                  ...    ...
44893  Germany’s Angela Merkel Makes Incredibly Naive...   Fake
44894  MEDIA IGNORES! HOUSE DEM IT SUSPECTS Wanted Un...   Fake
44895  Obama administration completes rule to curb me...   True
44896  Meeting between Egyptian foreign minister and ...   True
44897  Moscow in talks with U.S. to create cyber work...   True

[44898 rows x 2 columns]

In [43]:
import nltk

In [44]:
df['tokens'] = df['title'].apply(nltk.word_tokenize)
df

,title,Target,tokens
0,Trump Will ANNHILILATE The Working Class He’s...,Fake,"[Trump, Will, ANNHILILATE, The, Working, Class..."
1,Yemen Houthis say have shot down U.S. surveill...,True,"[Yemen, Houthis, say, have, shot, down, U.S., ..."
2,BREAKING NEWS: TRUMP ADMIN ANNOUNCES “MASSIVE ...,Fake,"[BREAKING, NEWS, :, TRUMP, ADMIN, ANNOUNCES, “..."
3,U.S. Commerce Secretary wants NAFTA autos cont...,True,"[U.S., Commerce, Secretary, wants, NAFTA, auto..."
4,U.S. warns of repercussions for Pakistan over ...,True,"[U.S., warns, of, repercussions, for, Pakistan..."
...,...,...,...
44893,Germany’s Angela Merkel Makes Incredibly Naive...,Fake,"[Germany, ’, s, Angela, Merkel, Makes, Incredi..."
44894,MEDIA IGNORES! HOUSE DEM IT SUSPECTS Wanted Un...,Fake,"[MEDIA, IGNORES, !, HOUSE, DEM, IT, SUSPECTS, ..."
44895,Obama administration completes rule to curb me...,True,"[Obama, administration, completes, rule, to, c..."
44896,Meeting between Egyptian foreign minister and ...,True,"[Meeting, between, Egyptian, foreign, minister..."
44897,Moscow in talks with U.S. to create cyber work...,True,"[Moscow, in, talks, with, U.S., to, create, cy..."

In [45]:
from datetime import date
from pprint import pprint

In [46]:
from marshmallow import Schema, fields, validate, ValidationError

Make a validation method using marshmallow

The validation method will be based upon the known words to the data as well as length of the text and score it accordingly to validate the data

In [47]:
tokenized_words = list()

for i in df['tokens']:
    for j in i:
        tokenized_words.append(j.lower())

len(tokenized_words)
# print(tokenized_words)

657133

In [48]:
tokenized_words = set(tokenized_words)
len(tokenized_words)

27023

In [49]:
def validateWords(title: str):
    tokenized_title = nltk.word_tokenize(title)
    tokenized_title = [x.lower() for x in tokenized_title]
    unknown_words = [t for t in tokenized_title if t not in tokenized_words]
    validation_score = (len(tokenized_title) - len(unknown_words))/len(tokenized_title)

    if validation_score < 0.1 and len(unknown_words) > 0:
        # Uncomment the line below to create a validation error
        # raise ValidationError(f"Too many unknown words: {unknown_words}")
        print(f"Too many unknown words: {unknown_words}")

In [50]:
validateWords("mentos demn bruv")

#* It scores according to the existing data
validateWords("Donald")

Too many unknown words: ['mentos', 'demn', 'bruv']